extends ./base/baseadmin
block vars
    - var tittle = "Login"
block body
  .container.pad_50
    .col-md-6
      form(data-toggle='validator', role='form' ,method="POST", action="/admin/reguser")
        .form-group.has-feedback
          label.form-control-label Nombre
          input.form-control.form-control-danger(type='text', required='' , name="nombre")
        .form-group.has-feedback
          label.form-control-label DNI / RUC
          input.form-control.form-control-danger(type='text', required='' , name="dni" , onkeypress="return validarn(event)")
        .form-group.has-feedback
          label.form-control-label Dirección
          input.form-control.form-control-danger(type='text',  name="direc" ,  required='')
        .form-group.has-feedback
          label.form-control-label Distrito
          input.form-control.form-control-danger(type='text', required='' , name="distrito")
        .form-group.has-feedback
          label.form-control-label Celular
          input.form-control.form-control-danger(type='text', required='' , name="celular" , onkeypress="return validarn(event)")
        .form-group.has-feedback
          label.form-control-label Teléfono
          input.form-control.form-control-danger(type='text', required='' , name="telefono", onkeypress="return validarn(event)")
        .form-group.has-feedback
          label.form-control-label Correo
          input.form-control.form-control-danger(type='email',  name="correo" , data-error='Ingresar un correo válido', required='')
          .help-block.with-errors
        .form-group.has-feedback
          label.form-control-label Plan
          input.form-control.form-control-danger(type='text', name="plan", required='')
        .form-group.has-feedback
          label.form-control-label Megas
          input.form-control.form-control-danger(type='text' , name="megas", required='')
        .form-group
          label.form-control-label Estado
          .radio
            label
              input(type='radio', name='onair', value="1" required='')
              |                             Activo
          .radio
            label
              input(type='radio', name='onair', value="0" required='')
              |                             No activo
        .form-group
          button.btn.btn-primary(type='submit') Registrar
