extends ./base/baselogin
block vars
    - var tittle = "Login"
block body
    .container.mlogin
      #login
        h1 Ingreso al sistema
        
        if messages.length
          p=messages
        form#loginform(action='/login' method='POST')
          p
            label
              | DNI
              br
              input.input(type='text' name='dni')
          p
            label
              | Contraseña
              br
              input.input(type='password' name='pwd')
          p.submit
            input.button(type='submit' value='Ingresar')
      
      

