footer {
    color: #3498DB;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}
a {
    color: #3498DB;
    font-weight: 400;
}

body {
    background: #efefef;
    font-family: 'Open Sans', sans-serif;
    color: #777;
}

.close_session{
    margin-top: 10px;
}

.no_margin{
    margin:  0px;
}

.centro{
    border: solid black 1px;
    margin: auto;
}