block vars
doctype html
html
  head
    title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='css/bootstrap.css', rel='stylesheet', type='text/css')
    script(src='js/jquery.min.js')
    link(href='css/theme-style.css', rel='stylesheet', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800', rel='stylesheet', type='text/css')
    script.
      $(function() {
        var pull 		= $('#pull');
        menu 		= $('nav ul');
        menuHeight	= menu.height();
        $(pull).on('click', function(e) {
        e.preventDefault();
        menu.slideToggle();
        });
        $(window).resize(function(){
        var w = $(window).width();
        if(w > 320 && menu.is(':hidden')) {
        menu.removeAttr('style');
        }
        });
      });
  body
    block body